html
{
    overflow-x: hidden;
    overflow-y: auto;
}
body
{
    font-family: Arial, Helvetica,Sans-serif;
    color: black;
    background-color: #fff;
    font-size: 9pt;
    margin: 0px;
    padding: 1em;
    line-height: 1.5;
}
div
{
    font-size: 1em;
}
table
{
    empty-cells: show;
    margin: 0;
    padding: 0;
}
font
{
    font-size: 1em;
}
ul
{
    padding: 0 0 0 0;
}
ol
{
    padding: 0 0 0 0;
}
li
{
    line-height: 1.5em;
    padding: 0 0 0 0;
}
p
{
    padding: 0;
}
h1, h2, h3, h4, h5
{
    padding: 0;
}
h1
{
    font-size: 1.3em; /*1.3em*/
}
h2
{
    font-size: 1.1em; /*1.3em*/
}
h3
{
    font-size: 1em;
    line-height: 1.1em;
    white-space: nowrap;
    padding: 0;
    font-weight: normal;
}
h4, h5, table
{
    font-size: 1em;
}
sup, sub
{
    font-size: .7em;
}
input, select, textarea, option
{
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
img
{
    border-style: none;
}
a
{
    outline: none;
    color: #00c;
}
a:active
{
    color: red;
}
a:visited
{
    color: #551a8b;
}
hr
{
    border: 0;
    background-color: #EEE;
    border-bottom: #c9d7f1 1px solid;
    height: 0px;
    width: 99.9%;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

